@import url("https://fonts.googleapis.com/css2?family=Almendra+SC&family=Jersey+25&family=Lobster&family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.CustomQuiz * {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.CustomQuiz_Head h2 {
  font-style: normal;
  text-align: center;
  font-size: 2rem;
  margin: 30px;
}
.CustomQuiz_Form {
  margin-left: 60%;
  transform: translateX(-50%);
  width: 80%;
  border-collapse: separate; /* Ensure borders collapse properly */
  border-spacing: 0 20px; /* Add spacing between rows */
}

.CustomQuiz_Form tr {
  margin: 0;
}

.CustomQuiz_Form td {
  padding: 10px; /* Add padding to table data cells */
}

.CustomQuiz_Form label {
  display: inline-block;
  width: 150px; /* Adjust label width as needed */
  font-weight: bold;
}

.CustomQuiz_Form select,
.CustomQuiz_Form input {
  width: calc(100% - 160px); /* Adjust input and select width */
  padding: 8px;
  font-size: 16px;
}

.CustomQuiz_Submit {
  margin-top: 20px;
  text-align: center;
}

.CustomQuiz_Submit button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.CustomQuiz_Submit button:hover {
  background-color: #45a049;
}

@media (max-width: 600px) {
  .CustomQuiz_Form tr {
    display: block;
    margin-bottom: 30px; /* Adjust margin for smaller screens */
  }

  .CustomQuiz_Form td {
    display: block;
    padding: 0; /* Remove padding for smaller screens */
  }
}
